<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigel Elliott - CNN Developer Challenge</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="/static/css/normalize.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
</head>

<body>

    <div class="content">

        <div class="me">

            <h1>CNN Developer Challenge</h1>

            <p class="row"><span class="title">Author:</span> Nigel Elliott</p>
            <p class="row"><span class="title">Date:</span> 27/08/2016</p>
            <p class="row"><span class="title">Contact:</span> elliottnigel "at" gmail "dot" com</p>

        </div>

        <div id="app">

            <!-- begin server content -->